
body{
    background-color: #df9149;
background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%);


    /* background-image: url("./static/image2.jpg"); */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat;
    background-size: contain; */



    /* background-repeat: space; */
    /* background-repeat: round;
    background-repeat: repeat-y; */
    /* background-repeat: repeat-x; */

}


h1{

    font-size: 80px;


    
    background-image: url('./static/image3.gif');
    background-clip: text;
    color: transparent;
}


.div-tag1{
    background-image: url("./static/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    background-blend-mode: color-dodge;
    


    padding: 50px;
    border: 20px solid rgba(15, 63, 219, 0.411);
}

.div-tag1 h2{
    background-color: red;
}


.div-tag1 a{
    background-color: greenyellow;
}


.div-tag2{
    background-image: linear-gradient(#ff4800,yellow) , url("./static/image1.jpg");
    background-blend-mode: lighten;
}


ul{
background: #ff4800 url('./static/image3.gif') no-repeat center ;
}

